@import url('https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|PT+Sans+Narrow');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
}

/*** Animations ***/
.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 0.5s ease-in;
}

/*** Modal Styling ***/
.modal-header {
  color: #672a37;
}

/*** Site Title Page ***/
.title {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  color: whitesmoke;
}
.title-img img {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

.login-register-div {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.glass {
  margin-right: 10px;
  font-size: 1.5rem;
  color: whitesmoke;
}

/*** Logout Button ***/
.logout {
  font-size: 12px;
}

/*** Wine Details ***/
.details-container {
  display:flex;
}

/*** NavBar ***/
.nav-bar {
  background: #672a37;
}
