@import url('https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|PT+Sans+Narrow');

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans Narrow', sans-serif;
}

.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 0.5s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 0.5s ease-in;
}


/*Site Title*/
.title {
  font-family: 'Dancing Script', cursive;
  font-size: 3rem;
}

/*Logout Button*/
.logout {
  font-size: 12px;
}
