@import url('https://fonts.googleapis.com/css?family=Caveat|Dancing+Script|PT+Sans+Narrow|Fira+Sans+Extra+Condensed');

* {
  margin: 0;
  padding: 0;
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

body {
  font-family: 'Fira Sans Extra Condensed', sans-serif;
}

h5, h6 {
  display: inline;
}

/*** Animations ***/
.remove-btn {
  margin-right: 0.5rem;
}

.fade-enter {
  opacity: 0.01;
}

.fade-enter-active {
  opacity: 1;
  transition: opacity 1s ease-in;
}

.fade-exit {
  opacity: 1;
}

.fade-exit-active {
  opacity: 0.01;
  transition: opacity 1s ease-in;
}

/*** Modal Styling ***/
.modal-header {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  color: #672a37;
}
input[type=submit] {
  transition: 0.2s;
}
input[type=submit]:hover {
  background: #672a37;
  color: white;
  transition: 0.2s;
}

/*** Site Title Page ***/
.title {
  font-family: 'Dancing Script', cursive;
  font-size: 2rem;
  color: whitesmoke;
}
.title-img img {
  max-width: 100%;
  height: auto;
  margin: auto;
  display: block;
}
.centered {
  position: absolute;
  top: 25%;
  left: 50%;
  transform: translate(-35%, -25%) rotate(-6deg);
  font-family: 'Dancing Script', cursive;
  font-size: 10vw;
  text-shadow: 2px 2px #a9a9a9;
  color: whitesmoke;
}
@media (min-width: 1300px) {
  .home-container {
    background-color: #e0e0e0;
    padding-top: 100px;
  }
  .title-img img {
    width: 75%;
    height: auto;
    border-radius: 2em;
  }
  .centered {
    top: 40%;
    left: 30%;
  }
}

@media (max-width: 650px) {
  .centered {
    display: none;
  }
}
.greetings-container {
  margin: 1rem;
  text-align: center;
  color: #42434f;
  padding: 10px;
}
.greetings-container h1 {
  font-family: 'Dancing Script', cursive;
  margin-bottom: 1rem;
}
.glass {
  margin-right: 10px;
  font-size: 1.5rem;
  color: whitesmoke;
}


/*** Logout Button ***/
.logout {
  font-size: 12px;
}

/*** Wine Details ***/
.details-container {
  display:flex;
}

/*** Edit and Delete Container ***/
.edit-delete-container {
  display: flex;
}

/*** NavBar ***/
.nav-bar {
  background: #672a37;
}
.nav-greeting {
  background: white;
  color: #672a37;
  border-radius: 1rem;
  padding: 5px;
}
.nav-button {
  text-decoration: none;
  padding: 10px;
}

@media (max-width: 775px) {
  .title {
    font-size: 1.5rem;
  }
  .glass {
    font-size: 1rem;
  }
  .nav-greeting {
    display: none;
  }
  .nav-button {
    font-size: 16px;
  }
}

/*** Wine List ***/
.list-background {
  background: #e0e0e0;
  height: 200vh;
}

/*** Table ***/
table, th, td {
  padding: 5px;
  border: 1px solid #d3d3d3;
}

th {
  text-align: left;
  font-size: 1rem;
  color: #672a37;
}

td {
  text-align: center;
}
